*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.main {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input {
    margin-bottom: 20px;
}

.input input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#createbtn {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#createbtn:hover {
    background-color: #0056b3;
}

.output {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    height:auto;
    width: 300px;
}
.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}

.edit-btn{
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
}
.delete-btn{
    padding: 10px;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    border:none
}


.thead{
    padding:5px;
}

.tdesc{
    padding:5px;
}